<dl class="row">
  <dt class="col-sm-2 align-middle">Title</dt>
  <dd class="col-sm-9 align-middle"><h4>{{document.title}}</h4></dd>

  <dt class="col-sm-2">Author</dt>
  <dd class="col-sm-9">{{document.author}}</dd>

  <dt class="col-sm-2">Date</dt>
  <dd class="col-sm-9">{{document.publicationDate | date:'dd/MM/yyyy'}}</dd>

  <dt class="col-sm-2">Keywords</dt>
  <dd class="col-sm-9">{{document.keywords}}</dd>

  <dt class="col-sm-2">Source</dt>
  <dd class="col-sm-9">{{document.source}}</dd>

  <dt class="col-sm-2">Text</dt>
  <dd class="col-sm-9">{{document.text}}</dd>
</dl>
