<div class="loader" *ngIf="loading">Loading...</div>

<div *ngIf="!submitted">
  <h3>Пошуковий запит</h3>
  <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
    <div class="form-group">
      <label for="title">Назва</label>
      <input type="text" class="form-control" id="title"
             [(ngModel)]="titleTerms" name="title"
             #text="ngModel" placeholder="Терми розділені пробілами">
    </div>

    <div class="form-group">
      <label for="text">Текст</label>
      <input type="text" class="form-control" id="text"
             [(ngModel)]="textTerms" name="text"
             #text="ngModel" placeholder="Терми розділені пробілами">
    </div>

    <div class="form-group">
      <label for="author">Автор</label>
      <input type="text" class="form-control" id="author"
             [(ngModel)]="authorTerms" name="author"
             #text="ngModel" placeholder="Терми розділені пробілами">
    </div>

    <div class="form-group">
      <label for="keyword">Ключові слова</label>
      <input type="text" class="form-control" id="keyword"
             [(ngModel)]="keywordTerms" name="keyword"
             #text="ngModel" placeholder="Терми розділені пробілами">
    </div>

    <div class="row form-group">
      <div class="col">
        <label for="fromDate">Починаючи</label>
        <input type="date" class="form-control" id="fromDate"
               [(ngModel)]="fromDate" name="fromDate"
               #text="ngModel">
      </div>
      <div class="col">
        <label for="tillDate">Закінчуючи</label>
        <input type="date" class="form-control" id="tillDate"
               [(ngModel)]="tillDate" name="tillDate"
               #text="ngModel">
      </div>
    </div>

    <div class="form-group">
      <label for="limit">Ліміт</label>
      <input type="number" class="form-control" id="limit"
             [(ngModel)]="limit" name="limit" value="1000"
             #text="ngModel" placeholder="Ліміт пошуку">
    </div>

    <div class="form-group mb-4">
      <label for="iterations">Ітерації</label>
      <input type="number" class="form-control" id="iterations"
             [(ngModel)]="iterations" name="iterations" value="1"
             #text="ngModel" placeholder="Кількість ітерацій">
    </div>

    <!--<div class="form-group">-->
    <!--<label for="source">Джерело</label>-->
    <!--<select multiple class="form-control" id="source" size="3" [(ngModel)]="source" name="source">-->
    <!--<option>Scopus</option>-->
    <!--<option>РИНЦ</option>-->
    <!--<option>КПИ</option>-->
    <!--</select>-->
    <!--</div>-->

    <div class="btn-group" role="group">
      <button type="submit" class="btn btn-success" [disabled]="!searchForm.form.valid">Пошук</button>
      <button type="button" class="btn btn-warning" (click)="clearForm()">Очистити</button>
      <button type="button" class="btn btn-info" (click)="onStatistics()">Статистика</button>
    </div>
  </form>
</div>

<div *ngIf="documents">
  <button type="button" class="btn btn-secondary mb-3" (click)="clearSearch()" *ngIf="!selectedDocument">< Назад
  </button>
  <app-search-result [result]="result" (onSelected)="onDetails($event)"></app-search-result>
</div>

<div *ngIf="statistics">
  <button type="button" class="btn btn-secondary mb-3" (click)="clearSearch()">< Назад</button>
  <app-statistics [statistics]="statistics"></app-statistics>
</div>
