<dl class="row">
  <dt class="col-sm-2">Якість Загальна</dt>
  <dd class="col-sm-9 mb-5"><canvas #qualityCanvas class="w-75">{{ qualityChart }}</canvas></dd>
  <dt class="col-sm-2">Якість Джерел</dt>
  <dd class="col-sm-9 mb-5"><canvas #qualitySourcesCanvas class="w-75">{{ qualitySourcesChart }}</canvas></dd>
  <dt class="col-sm-2">Джерела</dt>
  <dd class="col-sm-9 mb-5"><canvas #sourcesCanvas class="w-75">{{ sourcesChart }}</canvas></dd>
  <dt class="col-sm-2">Запити</dt>
  <dd class="col-sm-9"><canvas #sourcesLineCanvas class="w-75">{{ sourcesLineChart }}</canvas></dd>
</dl>
